<html>

  <body>
    
    <script src="../static/js/annotator.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/dbmiannotator.css" />

    <header>


    <div id="toppanel">
      <nav>
      <h2>DBMI Annotator demonstration</h2>
        <ul>
          {% if 'email' in session %}
          <li>Welcome: {{session.email}}</li>
          <li><a href="{{ url_for('signOut') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signUp') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>

        <input type="text" id="sourceURL" size="40" maxlength="150" />
        <button id="loadButton">load</button> 

    </div>

    <script>

$('#loadButton').click(function(event) {
    event.preventDefault();
    
    $('#content').load($("#sourceURL").val(), function(responseText, status) {
        if (status === 'success') {
            $('#content').text('The page has been successfully loaded');
        } else {
            $('#content').text('Opps, an error occurred, please ensure the url you entered is valid');
        }
    });
});
    </script>

    </header>

    <article>

      <div id="content">
      
      </div>

    </article>

    <script src="../static/js/ddi-plugin.js"> </script>

  </body>



</html>
