<html>

  <body>
    
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <!-- browserify for configs -->
    <script type="text/javascript" src="js/app.bundle.js"></script>
    <link rel="stylesheet" href="./css/dbmiannotator.css" type="text/css" />
    
    <!-- annotator js  -->
    <script src="js/annotator.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">

    <style>
    input[type="radio"] { -webkit-appearance: radio; }
    input[type="checkbox"] { -webkit-appearance: checkbox; }
    </style>

    <article>
      <div id='splitter'>
	
	<div id="content" class="firstsection" style='overflow: auto'>
	  
          <button class="btn btn-success" onclick="buttonshowright()" value="hide"><img src="img/menu.png" height="25px" width="25px"><span id="menu">&nbsp Menu</span></button>
          <button class="btn btn-home" onclick="location.href = '/dbmiannotator/main';" value="hide"><img src="img/home.png" height="20px" width="20px"><span>&nbsp&nbsp Home</span></button>
																		      
	  <!-- div with subcontent will be replaced with html document page -->
	  <div style="margin-top:30px" id="subcontent"> <%- htmlsource %> </div>  

	</div>
	
	<div id="tabs" style="position:fixed">
  <ul>
    <li><a href="#tabs-1">Annotation List</a></li>
    <li class="editorsection" ><a href="#tabs-2">Annotation Editor</a></li>
    <li><a href="#tabs-3">Sign In</a></li>
  </ul>
  <div id="tabs-1">
      <div id="annotation-list" > </div>
  </div>
  <div class="editorsection" id="tabs-2">
    <div class="secondsection">
      </div>
  </div>
  <div id="tabs-3">
    <h2>Sign In</h2><br>
        <input type="text" style="width:150px;height:30px" id="username" size="20" placeholder="User Name" maxlength="30" />
        <input type="text" style="width:150px;height:30px" id="userpwd" size="20" placeholder="Password" maxlength="30" /><br><br>
        <button style="align:right;width:185px;height:30px" id="loginButton">login</button> 
  </div>
    </div>
      </div>
    </article>

  </body>
    <script>
    $( "#tabs" ).tabs();
    </script>
    
    <!-- call annotator -->
    <script src="js/ddi-plugin.js"></script>

    <!-- screen spliter js lib -->
    <link rel="stylesheet" href="css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="js/jqx-all.js"></script>
    <script type="text/javascript" src="js/demos.js"></script>
    <script type="text/javascript" src="js/dbmi.js"></script>

</html>
