<html>

  <body>

    
    
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./css/dbmiannotator.css" type="text/css" />
    <!-- screen spliter js lib -->
    <link rel="stylesheet" href="css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="js/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqxsplitter.js"></script>
    <script type="text/javascript" src="js/jqxbuttons.js"></script>
    <script type="text/javascript" src="js/jqxscrollbar.js"></script>
    <script type="text/javascript" src="js/jqxpanel.js"></script>
    <script type="text/javascript" src="js/demos.js"></script>
    <script type="text/javascript" src="js/dbmi.js"></script>

    <!-- annotator js  -->
    <script src="js/annotator.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <script src="js/jquery-ui.js"></script>
    <style>
    input[type="radio"] { -webkit-appearance: radio; }
    input[type="checkbox"] { -webkit-appearance: checkbox; }
    </style>
    <!-- div with id content will be reload with html label -->
    <article>
      <div id='splitter'>
	
	<div id="content" class="firstsection" style='overflow: auto'>
	  
          <button class="btn btn-success" style="style:fixed;z-index:999;" onclick="buttonshowright()" value="hide"><span background-color="white"><--Annotator</span></button>
	  
	  <div style="margin-top:30px" id="subcontent"> </div>  

	</div>
	
	<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Annotation List</a></li>
    <li class="editorsection" ><a href="#tabs-2">Annotation Editor</a></li>
    <li><a href="#tabs-3">Sign In</a></li>
  </ul>
  <div id="tabs-1">
      <p>COMING SOON</p>
  </div>
  <div class="editorsection" id="tabs-2">
    <div class="secondsection">
      </div>
  </div>
  <div id="tabs-3">
    <h2>Sign In</h2><br>
        <input type="text" style="width:150px;height:30px" id="username" size="20" placeholder="User Name" maxlength="30" />
        <input type="text" style="width:150px;height:30px" id="userpwd" size="20" placeholder="Password" maxlength="30" /><br><br>
        <button style="align:right;width:185px;height:30px" id="loginButton">login</button> 
  </div>
</div>
	
      </div>
      
    </article>
    <!-- annotator ddi plugin load -->
    
    <script>
    $( "#tabs" ).tabs();
    </script>

    <script src="js/ddi-plugin.js"></script>
  </body>

</html>
