 <!-- 
 Copyright 2016-2017 University of Pittsburgh

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http:www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<!doctype html>
<html>
<head>
    <title>AnnotationPress</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h2>AnnotationPress</h2>

        <a href="/dbmiannotator/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>

        <!-- disable the register for public release -->
        <!-- <a href="/dbmiannotator/register" class="btn btn-default"><span class="fa fa-user"></span>Register</a> -->


    </div>
    
    <div class="jumbotron text-left">
      <p>
        AnnotationPress is designed to provide a user friendly tool that helps scientists annotate scientific claims, data, and evidence in HTML documents. The current version is configured to annotated drug-drug interactions in both full text journal articles and structured product labeling. This is a particularly challenging domain that required the development of several annotation workflows which we think will be useful for for other scientific domains. A key aspect of AnnotationPress is its use of annotation plug-ins which make the tool is easily adaptable to other annotation use cases. Another distinctive feature is that AnnotationPress implements the <a href='https://jbiomedsem.biomedcentral.com/articles/10.1186/2041-1480-5-28'>Micropublication</a> and <a href="https://www.w3.org/TR/annotation-model/">Open Annotation data</a> standards. These standards specify how to relate annotations in target documents about data, methods, and materials to scientific claims.
      </p>
      <p>
        If you are new to AnnotationPress, please watch our <a href="https://www.youtube.com/watch?v=t1XqdDluutI&index=1&list=PLft40-JQse8MMRM16h-ngCLyL_4yATI1_">video</a> that show two annotation plugins in action. To explore the tool, please login by the public account (Email: test@gmail.com &nbsp; password: testtest).
      </p>
      <p>
        AnnotationPress is an Apache2 licensed open source project available on <a href="https://github.com/dbmi-pitt/dbmi-annotator">github</a>. Please contact us for support on <a href="http://forums.dikb.org/t/annotationpress-support-topic/74">AnnotationPress support topic</a> or for drug drug interaction annotation related issues on <a href="http://forums.dikb.org/t/drug-and-drug-interaction-annotations-created-with-annotationpress/75">
DDI annotation topic</a>
      </p>
    </div>
    
</div>
</body>
</html>
