.annotator-hl {
	background: #FFFF0A;
	background: rgba(255, 255, 10, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DFFFF0A, endColorstr=#4DFFFF0A)";  /* 0.3 == 4D in MS filters */
    }


#annotator-ddi {
	/* background: #B0C4DE; */
    background: rgba(0, 0, 255, 0.8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DFFFF0A, endColorstr=#4DFFFF0A)";  /* 0.3 == 4D in MS filters */
}
      