

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$dark:  #171717;
$blue:  #0167F6;
$green: #3AB54A;
$white: #FFFFFF;


$font-face: 'Open Sans', sans-serif;

body {
  
  background: white;
  font-family: $font-face;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width:100vw;
  height: 100vh;
  line-height: 1;
}

h1 {
  text-align: center;
  font-family: $font-face;
  font-size: 22px;
  color: $dark;
  font-weight: 700;
  
  span {
    font-weight: 400;
  }
  
}

.container {
  min-width: 640px;
  
  display: flex;
  flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}


/* Copy button styles*/
.custombutton {
  border: 0 none;
  border-radius: 5px;
  
  padding: 12px 55px;
  margin: 0 10px;
  
  cursor: pointer;
  display: inline-block;
  
  font-size: 14px;
  color: #fff;
  text-transform: none;
  
  transition: all 80ms ease-in-out;

  &:hover {
      opacity: .7;
  }
}

.custombutton.-dark {
  background: $dark;
  color: $white;
}
  
.custombutton.-green {
  background: $green;
  color: $white;
}

.custombutton.-blue {
  background: $blue;
  color: $white;
}

.custombutton.-border {
  background: transparent;
  border: 2px solid $blue;
  color: $blue;
  
  &:hover {
    border-color: $dark;
    color: $dark;
    
    opacity: 1;
  }
}

/* Home and Annotator icons */
.btn-success {
  position:fixed;
  bottom: 2px;
  left: 50px;
  border-radius: 8px;
  border: 2px solid #8c8c8c;
  background-color:#FFFFFF;
  height: 38px;
  width: 43px;
  z-index: 999;
}

.btn-home {
  position:fixed;
  bottom:2px;
  left:2px;
  color:#FFFFFF;
  border-radius: 8px;
  border: 2px solid #8c8c8c;
  background-color:#FFFFFF;
  height: 38px;
  width: 43x;
  z-index: 999;
}
/*
.btn-success {
  // Add .button-inline class for inline-block display
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  .buttonSize(40px, 3px, 18px);
  .transition(background-color, 0.2s);
  .buttonColor(@default-background-color, @default-text-color);
  .buttonColor(@primary-background-color, @primary-text-color);
  display: inline-block;
  vertical-align: middle;
}*/


/* MP menu */
.mp-main-menu-1 {
    background-color: #cccccc;
    color: white;
    padding: 7px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
}

.mp-main-menu-2 {
    background-color: #cccccc;
    color: white;
    padding: 10px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content*/
.mp-main-menu {
    position: relative;
    display: inline-block;
    min-width: 100px;
}

/* Dropdown Content (Hidden by Default) */
.mp-sub-menu-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.mp-sub-menu-2 a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.mp-sub-menu-2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.mp-main-menu:hover .mp-sub-menu-2 {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.mp-main-menu:hover {
    background-color: #3e8e41;
}

/* annotator table */
#mp-claim-data-tb{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 80%;
    font-size: 15px;
    border-collapse: collapse;
    border: 2px solid #D4E0EE;
    text-align: center; 
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
    background-color: #DDEBFA;
}


/* annotator table -material/data */
#mp-data-tb{
    width: 100%;
    text-align: center; 
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 13px; 
    background-color: #F7F9FC;
    border: 2px solid #D4E0EE;
}

/* annotator claim pannel */
#mp-claim-method-tb{

   width: 100%;
   height: 100%;
   font-family: "Trebuchet MS", Arial, sans-serif;
   font-size: 14px;
   border-collapse: collapse;
   border-style: hidden;

}

#mp-claim-tb tr, td{
  border-style: hidden;
  padding:10px;
}

.option{
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 8px;
}


/* annotation editor */
#tabs-2 {
    all: initial;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    /* width: 800px; */
    border-collapse:
    collapse; border-spacing: 0;
}

