body {
  
  background: white;
  font-family: $font-face;
  
  
  justify-content: center;
  align-items: center;
  
  width:100vw;
  display: flex;
  height: 100vh;
  line-height: 1;
}

h1 {
  text-align: center;
  font-family: $font-face;
  font-size: 22px;
  color: $dark;
  font-weight: 700;
  
  span {
    font-weight: 400;
  }
  
}

.container {
  min-width: 640px;
  /*display: flex;
  flex-direction: column;*/
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* Home and Annotator icons */
.btn-success {
  position:fixed !important;
  bottom: 2px !important;
  left: 50px !important;
  border-radius: 8px !important;
  border: 2px solid #8c8c8c !important;
  background-color:#FFFFFF !important;
  height: 38px !important;
  width: 43px !important;
  z-index: 999 !important;
}

.btn-home {
  position:fixed !important;
  bottom:2px !important;
  left:2px !important;
  color:#FFFFFF !important;
  border-radius: 8px !important;
  border: 2px solid #8c8c8c !important;
  background-color:#FFFFFF !important;
  height: 38px !important;
  width: 43x !important;
  z-index: 999 !important;
}

/*remove the button border in Chrome*/
button:focus{
  outline: 0 !important;
}
/*
.btn-success {
  // Add .button-inline class for inline-block display
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  .buttonSize(40px, 3px, 18px);
  .transition(background-color, 0.2s);
  .buttonColor(@default-background-color, @default-text-color);
  .buttonColor(@primary-background-color, @primary-text-color);
  display: inline-block;
  vertical-align: middle;
}*/


/* MP menu */
.mp-main-menu-1 {
    display:block; 
    list-style: none;
    cursor:pointer; 
    padding:3px 5px 5px 3px; 
    margin: 0px !important;
    border: 2px #336699 solid;
    position:relative;
    font-size: 11px;
    font-weight: bold;
    font-style: "Trebuchet MS", Arial, sans-serif;
    background-color: white;
}

/*add data for */
.mp-main-menu-2 {
    display:block; 
    list-style: none !important;
    cursor:pointer !important; 
    padding:3px 5px 5px 3px !important;
    margin: 0px !important;
    border: 2px #336699 solid !important;
    position:relative !important;
    font-size: 11px !important;
    font-weight: bold !important;
    background-color: white !important;
}

/* The container <div> - needed to position the dropdown content*/
.mp-main-menu {
    position: absolute !important; 
    top: 5% !important;
    margin: 0px !important;
    display: block;
    min-width: 130px !important;
    min-height: 40px !important;
    text-align: center !important;
    list-style: none !important;
    color: black !important;
    padding-top: 20px !important;
    padding-left: 40px !important;
}
/* add matertal/data -link*/
.mp-sub-menu-2 {
    margin: 0px !important;
    display: none;
    position: absolute !important;
    min-width: 100px !important;
    left: 83px !important;
    top:-20% !important;
    color: black !important;
    font-size: 11px !important;
    font-weight: bold !important;

}

/* Links inside the dropdown */
.mp-sub-menu-2 a {
    margin: 0px !important;
    color: black !important;
    font-size: 10px !important;
    border: 2px #336699 solid !important;
    padding:5px 4px 3px 0px !important;  
    background-color: white !important;
    display: block !important;
    text-decoration: none !important;
    min-width: 140px !important;
    min-height: 10px !important;
    text-align: left !important;
    list-style: none !important;
}


/* Change color of dropdown links on hover 
.mp-sub-menu-2 a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover 
.mp-main-menu:hover .mp-sub-menu-2 {
    display: block;
} */

/* remove the circle list style */
ul.mp-sub-menu-2{
  margin: 0px !important;
  list-style-type: none;
}



/* Change the background color of the dropdown button when the dropdown content is shown 
.mp-main-menu:hover {
    background-color: #3e8e41;
}*/

/* annotator table - material/data panel */
#mp-claim-data-tb{
    margin-left: 15%  !important;
    margin-right: 15% !important;
    margin-bottom: 5% !important;
    width: 70% !important;
    /* height: 80% !important; */
	min-width: 1000px !important;
    max-height: 300px !important;
    font-size: 15px !important;
    border-collapse: initial !important;
    border: 2px solid #D4E0EE !important;
    text-align: center !important; 
    font-size: 17px !important;
    background-color: #DDEBFA !important;
}

#mp-claim-data-tb tr, #mp-claim-data-tb td{
    border: 1px solid #ddd !important;
    padding: 0.2em !important;
    background-color: #DDEBFA !important;
}

/* annotator table -material/data  */
#mp-data-tb{
    border: 1px #D4E0EE !important;
    width: 100% !important;
	  min-width: 700px !important;
    text-align: center !important; 
    font-size: 13px !important; 
    border-collapse: collapse !important;
    border: 1px solid black !important;
    background-color: white !important;
}

#mp-data-tb tr, #mp-data-tb td {
    border-collapse: collapse !important;
    border: 1px solid #D4E0EE !important;
    background-color: white !important;
    padding: 0.2em !important;
}

/* annotator table - claim pannel */
#mp-claim-method-tb{
   width: 100% !important;
   height: 100% !important;
   min-width: 300px !important;
   max-hight: 240px !important;
   font-size: 14px !important;
   border-collapse: collapse !important;
   border-style: hidden !important;
  border-style: hidden !important;
  padding:2px !important;
}

/* method option for claim panel */
#mp-editor-method {
  font-size: 15px !important;
  width: 76% !important;
  color: black !important;
}

/*claim options for claim panel */
#mp-editor-claim-list {
  font-size: 15px !important;
  width: 97% !important;
  color: black !important;
}

/* annotation editor */
.ui-tabs {
  z-index: 999 !important;
}


#tabs-2 {
    all: initial;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    border-collapse:
    collapse; border-spacing: 0;
}

#tabs-1{
  font-size: 12px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  border: none;
  line-height: 16px;
  
}

#ui-id-1, #ui-id-2 {
  font-size: 13px !important;
}

#Drug1,#Drug2{
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  margin-right: 30px;
}

#drug1precipitant, #drug2precipitant, #relationship, #method{
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 12px;
  margin-right: 70px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.annotator-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('./../img/spin.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
